@import '../../../../misc/colors.module.scss';
@import '../../../../misc/misc.module.scss';

.account-item {
  display: flex;
  flex-direction: column;
  position: relative;

  cursor: pointer;

  padding: 8px 16px;
  margin: 0 8px;

  border: 1px solid transparent;
  border-radius: $border-radius;

  background-color: $gray3;

  &--active {
    background-color: $gray5;
  }

  &:hover {
    border-color: $green1;
  }

  &__address-entry {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__chain-info {
    position: relative;
    min-width: 100px;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    width: 100%;
    display: flex;
    gap: 16px;
    font-weight: 500;
    justify-content: space-between;

    &__name {
      flex-shrink: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }
  }

  .account-item &__identicon {
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 32px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }

  &__chain-name {
    font-size: 12px;
    line-height: 1.1em;
    font-weight: 500;
  }

  &__chain-address {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
