@import "./../../shared/colors.module.scss";

.trade-form {
    background: $gray3;
    height: 100%;
    position: relative;

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        color: $white1;
        margin-bottom: 1.5rem;
        display: inline-block;
    }

    .divider {
        height: 1px;
        width: 100%;
        background: $gray2;
        // background: red;
        position: absolute;
        left: -32px;
    }

    &__switcher {
        position: relative;
        // TODO: this is absolutely wrong and needs to be re-done
        &__switch-assets {
            transform: rotate(90deg);
            color: opacify($color: $gray4, $amount: 0.7);
            // font-size: 24px;
            background: $gray2;
            border: 3px solid $gray1;
            border-radius: 100%;
            // width: 48px;
            // height: 48px;
            width: 48px;
            height: 48px;
            cursor: pointer;
            user-select: none;
            > svg {
                // width: 48px;
                font-size: 24px;
                position: relative;
                // TODO: get rid of this
                top: 9px;
                left: 9px;
            }
        }

        &__spot-price {
            background: $gray4;
            color: $gray1;
            font-size: 10px;
            text-align: center;
            padding: 2px 64px;

            position: relative;
            // TODO: use a variable of the form padding
            left: 32px;
            font-weight: 500;
            --webkit-font-smoothing: subpixel-antialiased;
        }

        .divider {
            top: 24px;
        }
    }

    &__action {
        position: relative;

        .divider {
            width: calc(100% + 64px);
        }
    }

    &__trade-fee {
        display: block;
        color: $gray4;
        margin-bottom: 16px;
        margin-top: 16px;
        text-transform: uppercase;
        font-size: 12px;
    }
}
