@import './../misc/colors.module.scss';
@import './../misc/misc.module.scss';

.page-container {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 100%;
  padding: 16px;

  gap: 24px;

  max-width: 1100px;

  left: 0;
  right: 0;
  margin: auto;

  background-color: $d-gray3;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
