@import './../../../../../misc/colors.module.scss';
@import './../../../../../misc/misc.module.scss';

.trade-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  min-height: 90px;
  font-size: 12px;
  font-weight: 600;

  &__data {
    display: flex;
    flex-direction: column;

    justify-content: center;

    max-height: 65px;
    opacity: 1;

    transition: max-height 0.3s ease, opacity 0.15s ease;

    &.hidden {
      max-height: 0px;
      opacity: 0;
    }

    .data-piece {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__label {
        color: #bdccd4;
        font-weight: 700;
      }
    }
  }

  .validation {
    opacity: 0.3;
    line-height: 16px;
    height: 16px;
    max-height: 0px;
    // max-height: 30px;
    overflow: hidden;

    transition: max-height 0.3s ease, opacity 0.3s ease;

    &.visible {
      max-height: 30px;
      opacity: 1;
    }

    &.error {
      font-size: 14px;
      color: $red1;
    }

    &.warning {
      max-height: 30px;
      opacity: 1;

      font-size: 14px;
      color: $orange1;
    }
  }
}
