@import './../../../misc/colors.module.scss';
@import './../../../misc/misc.module.scss';

.trade-form-wrapper {
  position: relative;
  flex-basis: 350px;
  flex-grow: 1;

  padding: 16px;
  min-width: 350px;

  background-color: $d-gray4;
  overflow: hidden;

  position: relative;

  .trade-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 16px;

    height: 100%;
    min-height: 400px;

    .trade-form-heading {
      color: $l-gray3;
      font-size: 18px;
      font-weight: 500;
    }

    .divider-wrapper {
      display: flex;
      align-items: center;
      height: 2px;
      width: 100%;
    }

    .divider {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $d-gray5;
      opacity: 1;
      border: 0;
      left: 0;
    }

    .submit-button {
      background: $green1;
      text-transform: uppercase;
      border-radius: $border-radius;
      height: 50px;

      color: $d-gray4;

      &:hover {
        background-color: $green2;
      }

      &:disabled {
        background-color: $l-gray5;
      }
    }
  }
}

// SHOULD BE EXTRACTED TO COMPONENTS

.balance-info {
  display: flex;
  align-items: center;
  gap: 4px;

  height: 16px;
  margin-top: 4px;
  font-size: 10px;
}

.asset-switch {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .asset-switch-icon {
    position: absolute;
    left: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 55px;
    height: 55px;

    border-radius: 55px;
    border: 4px solid $d-gray3;
    background-color: $d-gray5;

    overflow: hidden;

    transition: transform 500ms ease;

    &:hover {
      cursor: pointer;

      transform: rotate(180deg);

      svg {
        path {
          fill: $green1;
        }
      }
    }
  }

  .asset-switch-price {
    right: 0;
    padding: 0 16px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;

    background-color: $d-gray5;

    border-radius: 4px 0 0 4px;
  }
}

.settings-button {
  position: absolute;
  right: 16px;

  &:hover {
    cursor: pointer;

    svg {
      path {
        fill: $green1;
      }
    }
  }
}

.trade-settings-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 16px;

  background-color: $d-gray4;

  z-index: 1;

  .trade-settings {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;

    .close-icon {
      align-self: end;
      margin-bottom: 16px;

      svg:hover {
        cursor: pointer;
        path {
          fill: $orange1;
        }
      }
    }
  }

  .settings-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
      flex-grow: 10;
    }

    input {
      flex-shrink: 10;
      flex-basis: 50px;
      width: 50px;
      text-align: center;

      border-radius: $border-radius;
    }
  }

  &.hidden {
    display: none;
  }
}
