@import './../../../misc/colors.module.scss';
@import './../../../misc/misc.module.scss';

.trade-form {
  position: relative;
  flex-basis: 340px;
  flex-grow: 1;

  padding: 16px;
  min-width: 340px;

  background-color: $d-gray4;
  overflow: hidden;

  position: relative;
}
