@import './../../../misc/colors.module.scss';
@import './../../../misc/misc.module.scss';

.trade-form {
  position: relative;
  width: 360px;
  padding: 16px;

  background-color: $d-gray4;
  border-radius: 0 $border-radius $border-radius 0;
  overflow: hidden;
}
