# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.idea

# testing
/storybook-testing/results
/coverage
/traces

# production
/build
/storybook-static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test.e2e.local
ui-app-e2e-results.xml
ui-app-e2e-results.html
ui-app-unit-tests-results.xml
ui-app-unit-tests-results.html

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/storybook-static