@import './../../misc/colors.module.scss';
@import './../../misc/misc.module.scss';

.button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  user-select: none;

  border-radius: $border-radius;
  font-weight: bold;
  width: 100%;

  &--primary {
    padding: 0.875rem;
    background: $green1;
    text-transform: uppercase;
    &:hover {
      background: darken($color: $green1, $amount: 5);
    }
  }

  &--secondary {
    padding: 0.3125rem;
    color: $white1;
    background: $gray3;
    &:hover {
      background: darken($color: $green1, $amount: 5);
    }
  }

  &:hover {
    cursor: pointer;
  }
}
