@import './../../misc/colors.module.scss';
@import './../../misc/misc.module.scss';

.button {
    border: none;
    outline: none;
    padding: 0;
    background: none;
    user-select: none;

    padding: 0.875rem;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;

    &--primary {
        background: $green1;
        &:hover {
            background: darken($color: $green1, $amount: 5);
        }
    }

    &:hover {
        cursor: pointer;
    }
}