@import '../../../misc/colors.module.scss';
@import '../../../misc/misc.module.scss';

.account-selector {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $page-background;
  z-index: 2;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content-wrapper {
    width: 360px;
    height: 50vh;
    background-color: $gray2;
    padding: 0 1rem;
    border-radius: $border-radius;
  }

  &__heading {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  &__account-item {
    cursor: pointer;
    padding: 0.5em;
    margin-bottom: 0.5rem;
    border: 3px solid transparent;
    border-radius: $border-radius;
    &--active {
      background-color: $gray3;
    }

    &:hover {
      border-color: $gray3;
      .account-selector__account-item-heading {
        color: $green1;
      }
    }
  }

  &__close-modal-btn {
    cursor: pointer;
  }
}
