@import '../../../misc/colors.module.scss';
@import '../../../misc/misc.module.scss';

.account-selector {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5);
  color: white;

  z-index: 3;

  &__content-wrapper {
    width: 460px;
    min-height: 500px;
    max-height: 85vh;

    border-radius: $border-radius;
  }

  &__clear-button {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;

    button {
      width: auto;
      color: $gray4;
      background: none;
      line-height: 16px;
      padding-bottom: 8px;

      &:hover {
        background: none;
        color: $green1;
      }
    }
  }

  &__create-account-link {
    text-decoration: none;
    font-weight: normal;
    color: $orange1;
  }

  &__message {
    padding: 16px;

    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
