@import '../../../misc/colors.module.scss';

.chart-ticks {
    color: $gray4;
    font-size: 0.75rem;
    user-select: none;

    .col {
        max-height: 0.875rem;
        text-align: left;
    }
}