@import '../../../../misc/colors.module.scss';
@import '../../../../misc/misc.module.scss';

.metric-unit-selector {
  position: relative;

  display: flex;
  flex-shrink: 1;
  justify-content: right;

  font-weight: bold;

  min-width: 100px;
  cursor: pointer;

  &__select {
    display: flex;
    font-size: 0.65em;

    justify-content: center;
    align-items: center;

    color: $gray4;

    > div {
      display: inline;
    }

    &:hover {
      color: $green1;
    }
  }

  &__icon {
    display: block;
    position: relative;
    height: 10px;
    line-height: 6px;
    text-align: center;

    svg {
      height: 6px;
    }
  }

  &__unit {
    text-transform: uppercase;
  }

  &__unit-list {
    position: absolute;

    top: 100%;
    right: 0;
    padding: 0em 1em 0.2em 1em;

    background-color: $gray1;

    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    z-index: 1;

    font-size: 0.65em;

    .metric-unit-list-item {
      text-transform: uppercase;
      text-align: center;

      &.active {
        color: $green1;
      }

      &:hover {
        color: $green1;
      }

      &:last-child {
        padding-bottom: 0.6em;
      }
    }
  }
}
