@import '../../misc/colors.module.scss';
@import '../../misc/misc.module.scss';

.wallet {
  background-color: $gray3;
  border-radius: $border-radius;
  padding: 0 1rem;

  &__info-wrapper {
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
  }
  &__fiat-balance {
    font-size: 0.75rem;
  }
  &__icon {
    display: inline-flex;
    margin: 0.75rem 0.75rem 0.75rem 0;
    cursor: pointer;
  }
  &__account-name {
    font-weight: bold;
  }
  &__select-account-icon {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-color: $green1;
  }
  &__info {
    color: $green1;
    font-weight: bold;
  }
}
