@import '../../misc/colors.module.scss';
@import '../../misc/misc.module.scss';

.wallet {
  background-color: $gray3;
  border-radius: $border-radius;
  padding: 0 1rem;

  &__info-wrapper {
    align-items: center;
    gap: 0.75rem;
  }
  &__fiat-balance {
    font-size: 0.75rem;
  }
  &__icon {
    display: inline-flex;
    margin: 0.75rem 0.75rem 0.75rem 0;
  }
  &__account-name {
    font-weight: bold;
  }
}