@import './../../misc/colors.module.scss';

.action-bar {
    display: flex;
    background-color: $gray3;
    justify-content: space-between;

    border-radius: 0.3em;

    height: 3em;
    padding: 0.75em 0.5em;

    max-width: 500px;

    .action-bar-item {
        padding: 0 0.5em;
    }

    .action-bar-icons {
        display: flex;
    }

    .action-bar-icon {
        padding: 0 0.2em;
    }

    .action-bar-account-info {
        display: flex;
    }

    .action-bar-account-item {
        padding: 0 0.3em;
    }

    .action-bar-select-account {
        display: block;
        text-decoration: none;
    }
}