$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
);

@import '~bootstrap/scss/bootstrap.scss';
@import './colors.module.scss';

$border-radius: 6px;

html, body {
    font-family: 'Roboto', sans-serif;
    /* Better Font Rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}