@import '../../../misc/colors.module.scss';

.formatted-balance {
  display: flex;
  width: 100%;

  align-items: baseline;
  justify-self: end;
  justify-content: right;

  font-weight: 500;

  line-height: 1em;

  &__value {
    margin-right: 4px;
  }

  &__suffix {
    color: $gray4;
    font-size: 13px;
    font-weight: 600;
  }

  &__symbol {
    color: $white1;
  }
}
