@import '../../../misc/colors.module.scss';

.formatted-balance {
  display: flex;

  align-items: baseline;
  justify-self: end;
  justify-content: right;

  font-weight: 400;
  letter-spacing: 0.5px;

  line-height: 1.2em;

  &__value {
    margin-right: 4px;
  }

  &__suffix {
    color: $gray4;
    font-weight: 500;
  }

  &__symbol {
    color: $white1;
  }
}
