@import './../../../../misc/colors.module.scss';
@import './../../../../misc/misc.module.scss';

.trade-info {
  &__data {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;

    .data-piece {
      display: flex;
      justify-content: space-between;
      &__label {
        color: #bdccd4;
        font-weight: 700;
      }
    }
  }
}
