@import './../../../../misc/colors.module.scss';
@import './../../../../misc/misc.module.scss';

.trade-info {
  min-height: 60px;

  &__data {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;

    &.hidden {
      display: none;
    }

    .data-piece {
      display: flex;
      justify-content: space-between;
      &__label {
        color: #bdccd4;
        font-weight: 700;
      }
    }
  }
  .error {
    font-size: 12px;
    font-weight: 600;
    color: $red1;
  }
}
