@import './../../../../misc/colors.module.scss';
@import './../../../../misc/misc.module.scss';

.trade-info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  min-height: 80px;
  font-size: 12px;
  font-weight: 600;

  &__data {
    display: flex;
    flex-direction: column;

    &.hidden {
      display: none;
    }

    .data-piece {
      display: flex;
      justify-content: space-between;
      &__label {
        color: #bdccd4;
        font-weight: 700;
      }
    }
  }
  .error {
    font-size: 12px;
    font-weight: 600;
    color: $red1;
  }

  .warning {
    font-size: 14;
    color: $orange1;
  }
}
