@import '../../../../../misc/colors.module.scss';
@import '../../../../../misc/misc.module.scss';

.active-account {
  min-width: 800px;
  max-width: 1200px;
  border-radius: $border-radius;
  background: linear-gradient(180deg, #1c2527 0%, #14161a 80.73%, #121316 100%);
  padding: 32px;
  color: white;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    width: fit-content;
    padding-top: 4px;
    color: $l-gray3;
    font-size: 22px;
    font-weight: 500;
    background: linear-gradient(
        90deg,
        #4fffb0 1.27%,
        #b3ff8f 48.96%,
        #ff984e 104.14%
      ),
      linear-gradient(90deg, #4fffb0 1.27%, #a2ff76 53.24%, #ff984e 104.14%),
      linear-gradient(90deg, #ffce4f 1.27%, #4fffb0 104.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .active-account-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .active-account-button {
    user-select: none;
    border-radius: 9999px;
    background-color: #4fffb0;
    color: #26282f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      font-size: 18px;
      line-height: 18px;
    }
  }
  .active-account-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
