.asset-balance-input {
    position: relative;

    &__select {
        background-color: transparent;
        border-style: none;

        cursor: pointer;

        height: calc(100% - 1.1rem);
        position: absolute;
        width: 5rem;
        bottom: 0;

        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
}