@import '../../../misc/colors.module.scss';
@import '../../../misc/misc.module.scss';

.balance-input {
    height: 2.7rem;
    width: 100%;
    background-color: $gray1;
    border-radius: $border-radius;

    &__input-wrapper {
        flex-grow: 1;

        input {
            box-shadow: -1px 0 0 $gray2;

            text-align: right;
            padding: 0 0.8em;

            height: 100%;
            width: 100%;

            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    &__info {
        user-select: none;

        padding-right: 0.85rem;

        text-align: right;
        justify-content: center;
        width: 5rem;
    }

    &__asset {
        font-size: 0.95em;
        font-weight: bold;
    }
}