@import './colors.module.scss';
@import './misc.module.scss';

html,
body {
  font-family: 'Roboto', sans-serif;
  /* Better Font Rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $d-gray3;
  color: $white1;
  padding: 0;

  min-width: 360px;
  min-height: 400px;
  height: 100vh;

  /*  */
  background: linear-gradient(0deg, #2d2a32 0%, #34333e 100%);
}

div {
  box-sizing: border-box;
}

input {
  font-weight: bold;
  color: $white1;
  outline: none;
  border: none;
  background-color: $d-gray2;
  box-sizing: border-box;

  &:disabled {
    color: $l-gray4;
    background-color: transparent;
  }
}
