@import './colors.module.scss';

$border-radius: 6px;

html, body {
    font-family: 'Roboto', sans-serif;
    /* Better Font Rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}