@import '../../../misc/colors.module.scss';

$disabledOpacity: 0.3;

// TODO: break down css into multiple files
.chart-header {
  height: auto;

  &__pair-symbols {
    width: fit-content;

    div {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  &__type-label {
    font-weight: 500;
    font-size: 0.875rem;
    margin-left: 0.75rem;
    align-self: center;
  }

  &__data {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-weight: 500;

    &__in-asset {
      font-size: 24px;
      line-height: 24px;
    }

    &__breakdown {
      display: flex;
      gap: 4px;

      font-size: 14px;

      &__granularity {
        opacity: 1;
        // TODO: revisit animations/transitions
        transition: opacity ease-in-out 80ms;
        position: relative;

        //TODO: change indicator seems to be changing size when disabled (??)
        &.disabled {
          opacity: $disabledOpacity;
        }
      }
    }
  }

  &__pool-info {
    display: flex;
    justify-content: space-between;

    &__assets {
      display: flex;
      flex-direction: column;

      font-weight: 500;

      &__symbols {
        font-size: 24px;
        line-height: 24px;
      }

      &__full-name {
        font-size: 14px;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    user-select: none;

    &__granularity,
    &__graph-type {
      line-height: 0.625rem;

      &__individual {
        display: inline-block;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        border-left: 0.0625rem solid $gray1;
        font-size: 0.625rem;
        font-weight: 500;
        line-height: 0.625rem;
        text-align: center;
        color: $gray4;

        &:first-of-type {
          text-align: left;
          padding-left: 0rem;
          border-left: none;
        }

        &:last-of-type {
          text-align: right;
          padding-right: 0rem;
        }

        &:hover {
          // TODO: animations for color changes
          color: $white1;
          cursor: pointer;
        }

        &.active {
          color: $pink1;
        }

        &.disabled {
          cursor: default;
          color: rgba($gray4, 0.3);
          cursor: not-allowed;

          &:hover {
            color: rgba($gray4, 0.3);
          }
        }
      }
    }

    &__graph-type {
      &__individual {
        &:first-of-type {
          text-align: left;
          padding-left: 0rem;
        }
        &:last-of-type {
          text-align: right;
          padding-right: 0rem;
        }
      }
    }
  }
}
