@import "../../../misc/shared.scss";

$disabledOpacity: 0.3;

// TODO: break down css into multiple files
.chart-header {

    max-height: 4.875rem;

    &__pair-symbols {
        width: fit-content;

        p {
            margin: 0;
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 1.75rem;
        }
    }

    &__type-label {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1rem;
        margin-left: 0.75rem;
    }

    &__pair-full-names {
        p {
            margin: 0;
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 1rem;
            margin-top: 0.375rem;
            display: block;
        }
    }

    &__data {
        &__in-asset {
            font-size: 1.75rem;
            font-weight: bold;
            line-height: 1.75rem;
        }
        &__breakdown {
            font-size: 0.875rem;
            font-weight: bold;
            margin-top: 0.5rem;
            line-height: 1rem;
            letter-spacing: 0.0156rem;

            span {
                margin-left: 0.25rem;
            }

            &__granularity {
                opacity: 1;
                // TODO: revisit animations/transitions
                transition: opacity ease-in-out 80ms;
                position: relative;

                //TODO: change indicator seems to be changing size when disabled (??)
                &.disabled {
                    opacity: $disabledOpacity;
                }
            }
        }
    }

    &__controls {
        margin-top: .5rem;
        user-select: none;

        &__granularity,
        &__graph-type {
            line-height: 0.625rem;

            &__individual {
                display: inline-block;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                border-left: 0.0625rem solid $gray1;
                font-size: 0.625rem;
                font-weight: 500;
                line-height: 0.625rem;
                text-align: center;
                color: $gray4;

                &:first-of-type {
                    text-align: left;
                    padding-left: 0rem;
                    border-left: none;
                }

                &:last-of-type {
                    text-align: right;
                    padding-right: 0rem;
                }

                &:hover {
                    // TODO: animations for color changes
                    color: $white1;
                    cursor: pointer;
                }

                &.active {
                    color: $pink1;
                    
                }

                &.disabled {
                    cursor: default;
                    color: rgba($gray4, .3);
                    cursor: not-allowed;

                    &:hover {
                        color: rgba($gray4, .3);
                    }
                }
            }
        }

        &__graph-type {
            &__individual {
                &:first-of-type {
                    text-align: left;
                    padding-left: 0rem;
                }
                &:last-of-type {
                    text-align: right;
                    padding-right: 0rem;
                }
            }
        }
    }

    &__chart {
        // TODO: this needs to be linked with TradeGraphChart's chartOptions.layout.padding.top
        margin-top: 6rem / 2;
        // margin-bottom: 32px;

        &__wrapper {
            height: 24.375rem;
            position: relative;

            &__tooltip {
                $tooltipColor: $gray1;

                height: 90%;
                width: 0.0625rem;
                border-right: 0.0625rem $tooltipColor dashed;
                position: absolute;
                top: 10%;
                z-index: 0;
                opacity: 1;
                pointer-events: none;
                transition: opacity ease-in 100ms;

                &__label {
                    background: $tooltipColor;
                    border: 0.0625rem solid $tooltipColor;
                    color: $gray4;
                    position: absolute;
                    top: 10%;
                    width: 12.5rem;
                    text-align: center;
                    padding: 0.5rem;
                    font-size: 0.75rem;
                    font-weight: 500;
                    transition: opacity ease-in 100ms;
                    z-index: 1;
                }
            }
        }

        &__ticks {
            color: $gray4;
            font-size: 0.75rem;
            margin-top: 2rem;
            user-select: none;

            .col {
                max-height: 0.875rem;
                text-align: left;
            }

            span {
                display: inline-block;
            }
        }
    }
}
