@import '../../../../../misc/colors.module.scss';
@import '../../../../../misc/misc.module.scss';
@import '../ActiveAccount/ActiveAccount.scss';

.balance-list {
  @extend .active-account;

  &__title {
    @extend .active-account__title;
  }

  &-wrapper {
    @extend .active-account-wrapper;

    .item {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 10px;

      &:last-child {
        width: 40%;
        justify-content: right;
      }
    }
  }

  &-button {
    @extend .active-account-button;
    &__label {
      @extend .active-account-button__label;
    }
  }

  &-actions {
    @extend .active-account-actions;
    justify-content: right;
  }
}

@media screen and (max-width: 45em) {
  .balance-list {
    @extend .active-account;

    &__title {
      @extend .active-account__title;
    }

    &-wrapper {
      @extend .active-account-wrapper;

      .item {
        padding: 10px;
        width: 100% !important;

        &:first-child {
          padding: 20px 32px ;
          border-top: 0px;
          border-radius: $border-radius $border-radius 0px 0px;
        }

        &:nth-child(even) {
          background: rgba(255, 255, 255, 0.06);
        }

        &:last-child {
          padding: 20px 32px;
          border-radius: 0px 0px $border-radius $border-radius;
        }
      }
    }

    &-button:last-child {
      margin-left: auto;
    }
  }
}
