# This workflow can be invoked only from caller workflow.
# More information about Reusing workflows - https://docs.github.com/en/actions/using-workflows/reusing-workflows


# Build Application and Storybook production ready files. Build results will be saved as artifacts with names, passed
# in "app-build-artifact-name" and "storybook-build-artifact-name" inputs.

name: "Reusable :: Build"

on:
  workflow_call:
    inputs:
      app-build-artifact-name:
        required: true
        type: string
      storybook-build-artifact-name:
        required: true
        type: string
    secrets:
      gh_token:
        required: true

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Setup Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: 17

      - name: "Restore cached Node modules"
        id: cache-node-modules-ui-app
        uses: actions/cache@v2
        with:
          path: node_modules
          key: cache-node-modules-ui-app-${{ hashFiles('yarn.lock') }}

      - name: "Install Node modules"
        if: steps.cache-node-modules-ui-app.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: "Extract branch name"
        id: extract-branch-name
        shell: bash
        run: |
          sudo chmod +x ./scripts/ci/gh-actions-get-branch-name.sh
          echo "##[set-output name=name;]$(./scripts/ci/gh-actions-get-branch-name.sh "$GITHUB_EVENT_NAME" "$GITHUB_REF" "$GITHUB_BASE_REF")"

      - name: "Sanitize branch name"
        id: branch-name-sanitized
        env:
          BRANCH_NAME: ${{ steps.extract-branch-name.outputs.name }}
        shell: bash
        run: |
          sudo chmod +x ./scripts/ci/gh-actions-branch-name-serialize.sh
          echo "##[set-output name=name;]$(./scripts/ci/gh-actions-branch-name-serialize.sh "$BRANCH_NAME")"

      # Returns application version name as commit hash or triggered commit tag or release version.
      # If commit which has triggered this action run has any tag, this tag will be returned. If tag is not existing but
      # push event has been done after merge of pull request from "release/vX.X.X*" branch, "vX.X.X*" part will be
      # returned as an application version.
      # Default fallback value is commit hash (first 7 characters).
      - name: 'Run github-script for get application version name'
        id: get-app-version-name
        uses: actions/github-script@v6
        with:
          # "github-token" parameter is required for work with GitHub API
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const script = require('./scripts/ci/github-script-src/get-app-version-name.js')
            return await script({github, context, core})

      - name: "Build App and Storybook"
        run: |
          yarn run build
          yarn run build-storybook -- -o sb-build-files
        env:
          # CI=false is a workaround for this issue - https://github.com/facebook/create-react-app/issues/3657
          CI: false
          REACT_APP_GIT_BRANCH: ${{ steps.extract-branch-name.outputs.name }}
          REACT_APP_GIT_BRANCH_SANITIZED: ${{ steps.branch-name-sanitized.outputs.name }}
          REACT_APP_VERSION_NAME: ${{ steps.get-app-version-name.outputs.result }}
          NODE_OPTIONS: --openssl-legacy-provider

      - name: "Upload production-ready App build files"
        uses: actions/upload-artifact@v2
        with:
          name: ${{ inputs.app-build-artifact-name }}
          path: ./build

      - name: "Upload production-ready Storybook build files"
        uses: actions/upload-artifact@v2
        with:
          name: ${{ inputs.storybook-build-artifact-name }}
          path: ./sb-build-files
